In [ ]:
import pandas as pd

In [ ]:
population = (
    {
        'Country': ['Germany','France','Spain']
     ,  'Population': [83800000, 65700000, 46700000]
    }
)

In [ ]:
datos = pd.DataFrame(population)

In [ ]:
datos

   Country  Population
0  Germany    83800000
1   France    65700000
2    Spain    46700000